Source: head
Section: devel
Priority: optional
Maintainer: Wenwei Huang <dut.hww@gmail.com>
Build-Depends: debhelper (>= 9), python-catkin-tools (>= 0.4.2)
Standards-Version: 3.9.4
Homepage: https://github.com/hansonrobotics/HEAD

Package: head
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hanson Environment for Application Development
  This repository contains the integrated code for controlling and interacting with many Hanson Robotics robot heads. It includes the full performance pipeline and infrastructure:
    - Perception, via ROS webcam nodes.
    - Face detection, for seeing faces in the room.
    - Blender robot model, for gracefully controlling facial expressions.
    - Behavior tree, for scripting performaces.
    - Motor control ROS nodes, for controlling the physical robot.
 
Package: head-deps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, blender (= 2.71~git201406121839.169c95b-0irie1~trusty1), tmux (>= 1.8-5), ros-indigo-roslaunch (>= 1.11.16-0trusty-20151111-0653-+0000), ros-indigo-rospy (>= 1.11.16-0trusty-20151111-0417-+0000), ros-indigo-topic-tools (>= 1.11.16-0trusty-20151111-0702-+0000), ros-indigo-dynamic-reconfigure (>= 1.5.38-0trusty-20151111-0717-+0000), ros-indigo-tf (>= 1.11.8-0trusty-20160628-080730-0700), ros-indigo-dynamixel-motor (>= 0.4.0-0trusty-20160629-005530-0700), python-pyglet (>= 1.1.4.dfsg-2build1)
Description: HEAD dependencies
